### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
paises.csv
cidades.csv
populacao.csv
chat_logs
rascunho
Arquivo.zip
projeto.zip
projeto.zip6298
projeto_send.zip

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store